#carouselExampleSlidesOnly, h1{
    text-align: center;
}

h1{
    margin-top: 20px;
}

.nav-item, .navbar-brand{
    margin-right: 60px;
}

.navbar-brand{
    color: white;
}

#texto{
    background-color: rgb(244, 255, 251);
}
@media (max-width: 768px) { 
    nav {
        margin-bottom: -2rem; 
    }
}
